.top-margin {
  margin-top: 150px;
  margin-bottom: 50px;
}
.container {
  text-align: center;
}
.onError {
  font-size: 13px;
}
.btn {
  margin-bottom: 10px;
  width: 100%;
}
.small-margin {
  margin-bottom: 20px;
}
